/p4env
.p4env

/views/__pycache__
/models/__pycache__
/controllers/__pycache__
.views/__pycache__
.models/__pycache__
.controllers/__pycache__

/models/tournament_datas
/controllers/test.py
/controllers/test_02.py
/models/player_data_base
.models/tournament_datas
.controllers/test.py
.controllers/test_02.py
.models/player_data_base

/views/qt_ux/qt_ux_temp
/.vscode
/.qt_for_python
